<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>About Us</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    {{>header}}
        <section class="team">
            <center><h1 >Dance Instructor</h1></center>
            <div class="card" style="width: 18rem; height:25rem">
                <h5 class="card-title"><center>Namrita Mala</center></h5>
                <img style="height:200px ;" src="/public/images/namrita.png" class="card-img-top" alt="DDA">
                <div class="card-body">
                <p class="card-text">One of the gem of Deepanshu Dance Academy, who has now been featured in numerous albums and songs. </p>
                </div>
            </div>

            <div class="card" style="width: 18rem; height:25rem">
                <center><h5 class="card-title">Geeta Tamta</h5></center>
                <img style="height:200px ;" src="/public/images/Geeta.png" class="card-img-top" alt="DDA">
                <div class="card-body">
                <p class="card-text">One of her kind, Geeta takes up the choreography as if it is there in her blood.</p>
                </div>
            </div>

            <div class="card" style="width: 18rem; height:25rem">
                <center><h5 class="card-title">Abhijeet Singh Khurana</h5></center>
                <img style="height:200px ;" src="/public/images/Abhijeet.png" class="card-img-top" alt="DDA">
                <div class="card-body">
                <p class="card-text">Hip-Hop dude as known in Deepanshu Academy, Abhishek is trained and master of techniques and know-how of Hip-hop.</p>
                </div>
            </div>

            <div class="card" style="width: 18rem; height:25rem">
                <center><h5 class="card-title">Suraj</h5></center>
                <img style="height:200px ;" src="/public/images/Suraj.png" class="card-img-top" alt="DDA">
                <div class="card-body">
                <p class="card-text">Suraj, also known as Shoki, is one of the most versatile instructors of Deepanshu Academy.</p>
                </div>
            </div>
    </section>
        {{>footer}}
    </div>
</body>
</html>