<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Belly</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/stylecontact.css">
</head>
<body style="background-color: rgb(231, 141, 141); color:aliceblue">
    {{>header}}
    <div class="container">
        <h1>Best Belly Dance Classes Course</h1>
        <p>It's not that easy to find a skilled coach to teach you the fascinating art of dance, because of the lack of qualifications. But with us, your hunt for the best online belly classes ends here at Deepanshu Dance Academy. Here you will spend hours learning from the step-by-step instructions and practicing the dance form. </p>
        <p>Our professional coaches will teach you various belly dance movements like belly rolls, shimmers, chest isolations, hips movements, and many others!  Simply enjoy dancing to the music, and put all learned techniques into a dance combination. Our belly dance course is a must to learn the basic rules of dancing with a veil and other essential things. When you enroll in our belly dance class, we require no previous dance experience. Only your desire to learn something fun and new is enough for us.</p><br><br>
        <h3>This video guide you about Belly Dance</h3><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/zZ-LJxf3reI" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
    </div>
    {{>footer}}
</body>
</html>