<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Bollywood</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/stylecontact.css">
</head>
<body style="background-color: rgb(231, 141, 141); color:aliceblue">
    {{>header}}
    <div class="container">
        <h1>Best Bollywood Dance Classes Course</h1>
        <p>We, at Deepanshu Dance Academy, have a team of multifaceted coaches with all-around excellence in the field of Bollywood dance. Our</p>
        <p>Our team of world-class and certified choreographers always adds value to your dance lessons.</p>
        <p> If you are interested to take up Bollywood dance classes in Delhi, why not learn it from the best tutors around? Our dance classes include an introduction, warm-up, followed by multiple dancing sessions.  Our instructors will teach you some of the most popular moves of the Bollywood dance form. Our Bollywood dance course has something unique for every student.</p><br><br>
        <h3>This video guide you about Bollywood Dance</h3><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/dgg0wti_FZg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
    </div>
    {{>footer}}
</body>
</html>