<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Class Info</title>
    <style>
        .btun{
            padding:12px 16px;
            font-size: 18px;
            border: 2px solid black;
            border-radius: 12px;
            color: white;
            background:#da5f5f;
            cursor: pointer;
        }
    </style>
</head>
<body style="background-color: rgb(231, 141, 141); color:aliceblue">
    {{>header}}
    <div style="margin: 60px ;">
        <h1><center>CLASSES INFO.</center></h1><br><hr><br>
    <h2>TIME TABLE</h2><br>
    <form action="/payment" class="myForm" method="get">
    <input type="submit"  class="btun" value="Pre-Book"> For more details scroll down 👇👇.
    </form><br><br>
    <h3>FEES FOR DDA CLASSES (INCLUSIVE OF ALL TAXES)</h3><br>
    <h3>WEEKDAY BATCHES (MON, WED & FRI (3 CLASSES PER WEEK SO 12 CONTINUOUS CLASSES IN A MONTH)):</h3>
    <br><p>Monthly - Rs.3500</p>
    <p>Quaterly - Rs.9300 instead of Rs.10500 (saving of Rs.1200)</p><br>
    <h3>WEEKEND BATCHES (SAT & SUN (2 CLASSES PER WEEK SO 8 CONTINUOUS CLASSES IN A MONTH)):</h3><br>
    <p>Monthly - Rs.3000</p>
    <p>Quaterly - Rs.7800 instead of Rs.9000 (saving of Rs.1200)</p><br>
    <h3>TRIAL CLASSES</h3><br>
    <p>1 trial class of 1-hour duration: Rs.300 per person (paid before the class begins);</p>
    <p>FREE if the student joins (Please pre-book).</p><br>
    <p><b>Please note:</b> The trial class is FREE only if the student decides to join. If the student joins, the Rs 300 paid will be adjusted with the first month fee, and the billing cycle will start from the next class, making the first trial class 100% free. If the student decides not to join Deepanshu Dance Academy, then the Rs 300 will not be refunded.</p><br>
    <h3>DISCOUNTS:</h3><br>
    <pre>Group discounts:
    If 2 people join together for a month, avail a discount of flat Rs 500 off on a total of 2 people joining together!:)
    If a group of 3-5 people joins together for a month, avail a discount of flat Rs 1000/- off on the total package of 3-5 people joining together!!
    If a group of 6-8 people joins together for a month, avail a discount of flat Rs 2000/- off on the total package of 6-8 people joining together!
    GETTING YOUR FRIENDS IS, THEREFORE, A GOOD IDEA!</pre><br>
    <h3>PRIVATE CLASSES</h3><br>
    <p>Private Classes at the studio: Hourly - Rs.2500/-</p><br>
    <p>Private Classes at Home Location:</p><br>
    <p>Dance/Fitness Lessons 1-hour tuition for small groups(1-3 pax) where our instructor travels to your home: Rs.3500 per hour for locations within 5km and Rs 4000 per hour for all areas in Delhi beyond a 5km radius (phone booking required).</p><br>
    <p>For areas beyond Delhi/NCR, our charges are Rs 18,000 per day per choreographer + food + accommodation.</p><br>
    <p>For areas beyond Delhi/NCR, our charges are Rs 18,000 per day per choreographer + food + accommodation.</p><br>
    <h3>CANCELLATIONS AND REFUNDS:</h3><br>
    <p><b>Please note:</b> Fee once paid is non-refundable and non-adjustable.</p>
    <p>We would do our best to adjust the fee in other dance form batches if for some reason you can’t attend/ don’t like one batch, but the fee will NOT be refunded.</p><br>
    <p>There is no adjustment of classes/back up classes in case you miss out a class.
For more information, please <a href = "/contactUs" style="text-decoration:none; color:rgb(239, 228, 121);">contact us</a>.</p>
    </div>
    {{>footer}}
</body>
</html>