<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Hip Hop</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/stylecontact.css">
</head>
<body style="background-color: rgb(231, 141, 141); color:aliceblue">
    {{>header}}
    <div class="container">
        <h1>Best HipHop Dance Classes Course</h1>
        <p>The fusion of dance includes locking, popping, ballet, jazz, breaking, tap dancing & other dance styles</p>
        <p>The dance form that is a full-body workout, has high impact & anaerobic health benefits. It strengthens the muscles in your arms, legs, core improving joints and bone health.</p><br><br>
        <h3>This video guide you about Bollywood Dance</h3><br>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/1WIA6Yvj8Yg" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
    </div>
    {{>footer}}
</body>
</html>