<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>DsDA</title>
    <link rel="stylesheet" href="public/style.css">
</head>
<body>
    {{>header}}
    <section id="introSection">
        <div>
            Welcome to Deepanshu's dance academy.
        </div>
        <div class="small">
            Eat Sleep Dance & Repeat.
        </div>
    </section>


<!--Our mission Section from here-->
   {{>mission}} 

<!--Sponsor Section from here-->
    {{>sponsors}}

<!-- Footer -->
    {{>footer}}
</body>
</html>