<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Parkour</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/stylecontact.css">
</head>
<body style="background-color: rgb(231, 141, 141); color:aliceblue">
    {{>header}}
    <div class="container">
        <h1>We serve the best parkour course</h1>
        <p>Parkour is one of the unique and rarely found forms to learn which can be found in Delhi and all over the country. Parkour requires discipline, skills to tackle obstacles and learning to deal with sudden hurdles with different techniques.</p>
        <p>You can find all these in a single package only at Zenith Dance Academy, Delhi’s one of the most prominent dance schools. We have skilled parkour professionals, who not only teach how to become a master in parkour but give various adventurous and life-changing skills related to this form.</p>
        <p><b>“Parkour was never invented by anyone, it's always there”</b></p>
        <p>Parkour is a skill which is always there in an athlete. It's just that we need something to nourish it and provide training to make it better. Just like the natural or man-made environment or professional training environment.</p><br><br>
        <h3>This video guide you about Bollywood Dance</h3><br>
        <iframe width="560" height="315" src="https://www.youtube.com/embed/cgDvk1F3veQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
    </div>
    {{>footer}}
</body>
</html>