<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <style>
        body{
            background-color: brown;
            color: aliceblue;
        }
    </style>
</head>
<body>
    {{>header}}
    <h1>Pay here...</h1>
    <a href="https://buy.stripe.com/test_eVag2Vb3157326Q7ss"> Hip-Hop</a>
    {{>footer}}
</body>
</html>