<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Privacy Policy</title>
</head>
<body>
    {{>header}}
    <h3>THIRD-PARTY SERVICES</h3>
    <p>In general, the third-party providers used by us will only collect, use and disclose your information to the extent necessary to allow them to perform the services they provide to us.<br>However, certain third-party service providers, such as payment gateways, analytics companies and other payment transaction processors, have their own privacy policies in respect to the information we are required to provide to them for your browsing or purchasing behavior.<br>For these providers, we recommend that you read their privacy policies so you can understand the manner in which your personal information will be handled by these providers.<br>In particular, remember that certain providers may be located in or have facilities that are located a different jurisdiction than either you or us. So if you elect to proceed with a transaction that involves the services of a third-party service provider, then your information may become subject to the laws of the jurisdiction(s) in which that service provider or its facilities are located.<br>Once you leave our website or are redirected to a third-party website or application, you are no longer governed by this Privacy Policy or our website’s Terms of Service.</p>
    <h3>AGE OF CONSENT</h3>
    <p>By using this site, you represent that you are at least the age of majority in your state or province of residence, or that you are the age of majority in your state or province of residence and you have given us your consent to allow any of your minor dependents to use this site.</p>
    <h3>CONTACT US</h3>
    <p>You are welcome to contact us by e-mail. If you wish, just leave us a message as well as a number and time at which to contact you.</p>
    {{>footer}}
</body>
</html>