<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Salsa</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/stylecontact.css">
</head>
<body style="background-color: rgb(231, 141, 141); color:aliceblue">
    {{>header}}
    <div class="container">
        <h1>Best Salsa Dance Classes Course</h1>
        <p>Learning salsa can be overwhelming at first because it seems like a never-ending process. But with our online salsa dance classes, you can learn it in the most fun and exciting way possible.</p>
        <p>The number of online salsa courses is rising but still, Zenith Dance Academy stands out among the crowd. Once you sign up for the course, you will feel how engaging are our lessons. During the first week, you will learn multiple basic techniques like an open break, right-hand turn, cross-body lead, etc. Our online salsa classes include multiple lessons through which you can learn how to incorporate basic and complex variations of the dance form.</p>
        <p>Simply put, once you learn the course, you will be able to hit the dance floor like never before! </p><br><br>
        <h3>This video guide you about Bollywood Dance</h3><br>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/C4MAFLeWY7c" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
    </div>
    {{>footer}}
</body>
</html>