<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Services</title>
    <style>
        .div1{
            background-color: brown;
            color: aliceblue;
            margin: 50px;
        }
    </style>
</head>
<body style="background-color: brown;">
    {{>header}}
    <div class="div1">
        <center><h1>OUR SERVICES</h1></center><br><hr><br>
        <p><b>AVAJARRED</b> - The Deepanshu Dance Academy Annual Show</p><br>
        <p><b>Bedazzled</b> -  A Deepanshu Dance Academy product that will make you go WOW!</p><br>
        <p><b>Corporate Dance</b> - Team building and employee happiness through dance and fitness by Deepanshu Dance Academy - India's most renowned dance company for corporate workshops.</p><br>
        <p><b>Dance Troupe</b> - Need dancers for an event?</p>
        <p><b>Dance classes in school</b> - We offer multiple dance related services to Schools in Delhi, Noida and Gurgaon. From regular dance classes, annual day dance themes to creating award wining dance acts by auditioning and creating dance groups.</p><br>
        <p><b>Flash Mobs</b> - Organise a flash mob for a cause or to create brand roar. Deepanshu Dance Academy is known for its excellent flash mobs.</p><br>
        <p><b>Judging and Performing at College Fests and Competitions</b> - We create award winning dance choreography in all genres of dance with our exceptional team of dance trainers. Deepanshu Dance Academy is also known for judging state and national level dance competitions in all types of dance competitions. We have performed at dozens of college and university festivals and enthralled lakhs of students.</p><br>
        <p><b>Workshops and Masterclasses by Professional Dancers</b> - We regularly organise workshops with top professional National and International dance instructors to give our students the opportunity to learn new styles and techniques. These workshops are usually very well priced with the intent of getting our students the exposure. Masterclasses are of longer duration with the intent of performing a dance sequence in public and recording a high definition video.</p><br>
        <p><b>Namaste India Workshop for Foreigners </b>- Rated Excellent on TripAdvisor, these workshops are designed to make everlasting memories for visiting guests.</p><br><br>
        <p><center>InCase any Query | <a href="/contactUS" style="text-decoration: none; color:rgb(239, 228, 121);">Contact US</a></center></p>
    </div>
    {{>footer}}
</body>
</html>