<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Terms&Condition</title>
</head>
<body>
    {{>header}}
    <h3>TERMS</h3>
    <p>By accessing this website at www.zenithdanceacademy.in (Zenith Dance Academy Pvt Ltd), you are agreeing to be bound by these website Terms and Conditions of Use, all applicable laws, and regulations, and agree that you are responsible for compliance with any applicable local laws. If you do not agree with any of these terms, you are prohibited from using or accessing this site. The services contained in this website are protected by applicable copyright and trade mark law.</p>
    <h3>USE OF CONTENT</h3>
    <p>Permission is not granted to download any item, materials, (information or software) of this website for personal, non-commercial transitory viewing only.<br>Upon terminating your viewing of these materials or upon the termination of this license, you must destroy any downloaded materials in your possession whether in electronic or printed format.</p>
    <h3>LIMITATIONS</h3>
    <p>In no event shall Company or its suppliers be liable for any damages (including, without limitation, damages for loss of data or profit, or due to business interruption,) arising out of the use or inability to use the service, item, materials on this website, even if Company or a Company authorized representative has been notified orally or in writing of the possibility of such damage. Because some jurisdictions do not allow limitations on implied warranties, or limitations of liability for consequential or incidental damages, these limitations may not apply to you.</p>
    <center><h1>REFUND & CANCELLATION POLICY</h2></center>
    <h3>PRODUCT REFUNDS</h3>
    <p>There are no refunds on the products manufactured on demands. Products once sold will<br>not be taken back.</p>
    <h3>SERVICE REFUNDS</h3>
    <p>There are no refunds on services unless otherwise determined by Management. There are no cash/credit back refunds.</p>
    {{>footer}}
</body>
</html>