<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Wedding Event</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/stylecontact.css">
</head>
<body style="background-color: rgb(231, 141, 141); color:aliceblue">
    {{>header}}
    <div class="container">
        <h1>Wedding Event</h1><br><br>
        <iframe width="660" height="315" src="https://www.youtube.com/embed/SVKLEdwzglQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br><br>
        <h4>Wedding Services</h4>
        <li>Family Choreography</li>
        <li>Virtual Celebration Ideas</li>
        <li>Bride and Groom Entry</li>
        <li>Varmala Themes</li>
        <li>Birthday Parties</li>
        <li>Pre-Wedding Shoots</li>
        <li>Light and Sound</li>
        <li>Pre Wedding Functions</li>
        <li>Book Artist</li>
    </div><br><br>
    {{>footer}}
</body>
</html>