<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Workout</title>
    <link rel="stylesheet" href="/public/style.css">
    <link rel="stylesheet" href="/public/stylecontact.css">
</head>
<body style="background-color: rgb(231, 141, 141); color:aliceblue">
    {{>header}}
    <div class="container">
        <h1>Best workout course</h1>
        <p>Dancing offers upbeat and inventive exercises which promotes a more healthy and active lifestyle. Dance workouts is a social, energizing, flexible and most entertaining form that benefits not only your body but your mind as well. Zenith organizes dance workouts on a regular basis with new ideas of workouts everyday. Everyday feels new as we have so many workout themes which not only makes you fit but boost your energy levels and makes your mind more happier.</p>
        <p>We help our students to build their social confidence with the language of dance and try to make them physically fit by our energetic dance activities.</p><br><br>
        <h3>This video guide you about Bollywood Dance</h3><br>
       <iframe width="560" height="315" src="https://www.youtube.com/embed/W4eKVKwf3rQ" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe><br><br>
    </div>
    {{>footer}}
</body>
</html>