<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="/public/style.css">
    <style>
      h3 a, h1 a{
        color: aliceblue;
        text-decoration: none;
      }
    </style>
</head>
<body>
<footer style="background-color:rgb(123, 97, 97); color:aliceblue;" class="page-footer font-small blue pt-4">
  <div class="container-fluid text-center text-md-left">
    <div class="row">
      <div class="col-md-6 mt-md-0 mt-3">
        <h5 class="text-uppercase">Reach Us:</h5>
        <p>Noida, Sec-62, India</p>
        <p>ddainfo@dda.com</p>
        <p>+91 7896547854 | +91 7892136547</p>
      </div>
      <hr class="clearfix w-100 d-md-none pb-3">
      <div class="col-md-3 mb-md-0 mb-3">
        {{!-- <h5 class="text-uppercase">Courses</h5> --}}
        <ul class="list-unstyled">
          <li>
            <h1><a href="/">Home</a></h1>
          </li>
          <li>
            <h1><a href="/blog">Blog</a></h1>
          </li>
        </ul>
      </div>
      <div class="col-md-3 mb-md-0 mb-3">

        <ul class="list-unstyled">
          <li>
            <h3><a href="/terms">Terms&Condition</a></h3>
          </li>
          <li>
            <h3><a href="/privacy">Privacy Policy</a></h2>
          </li>
        </ul>
      </div>
    </div>
  </div>
  <div style="background-color:black; color:aliceblue; font-size: 20px;height: 60px;font-family:'Lucida Sans';" class="footer-copyright text-center py-3">Copyright Ⓒ 2020 deepanshudanceacademy.com | All rights reserved
  </div>
</footer>
    </div>
</body>
</html>