<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/public/style.css">
</head>
<body>
    <section class="missionSection">
            <center><h1>Our Mission</h1></center>
            <div class="card" style="width: 18rem; height:25rem">
                <h5 class="card-title"><center>Dance perfection</center></h5>
                <img style="height:200px ;" src="/public/images/img1.png" class="card-img-top" alt="DDA">
                <div class="card-body">
                <p class="card-text">This is the best dance academy of universe <br>Where you can learn best dance with world best instructors</p>
                </div>
            </div>

            <div class="card" style="width: 18rem; height:25rem">
                <center><h5 class="card-title">Dance the way you like</h5></center>
                <img style="height:200px ;" src="/public/images/img2.jpg" class="card-img-top" alt="DDA">
                <div class="card-body">
                <p class="card-text">This is the best dance academy of universe <br>Where you can learn best dance with world best instructors</p>
                </div>
            </div>

            <div class="card" style="width: 18rem; height:25rem">
                <center><h5 class="card-title">Expert teaching</h5></center>
                <img style="height:200px ;" src="/public/images/img3.gif" class="card-img-top" alt="DDA">
                <div class="card-body">
                <p class="card-text">This is the best dance academy of universe <br>Where you can learn best dance with world best instructors</p>
                </div>
            </div>

            <div class="card" style="width: 18rem; height:25rem">
                <center><h5 class="card-title">Mindblowing Performance</h5></center>
                <img style="height:200px ;" src="/public/images/image4.png" class="card-img-top" alt="DDA">
                <div class="card-body">
                <p class="card-text">This is the best dance academy of universe <br>Where you can learn best dance with world best instructors</p>
                </div>
            </div>
    </section>
</body>
</html>